<h2>Welcome</h2>

<%= link_to "Register as Ladder", :controller => "/ladder_profiles", :action => "new" %>
</br>
<%= link_to "Register as Dreamer", :controller => "/dreamer_profiles", :action => "new" %>


