<p>
<% if current_user.profile_type == "LadderProfile" %>
<%= link_to "Create New Event", :controller => "events", :action => "new" %>
<% end %>
<h2>All Events</h2>
<% current_user.all_events.each do |event|%>
<div>
<h3><%= link_to event.eventname, :controller => "events", action: "show" , id: event.id %></h3>
<%= event.location %>
</div>
<% end %>
</p>
