<h2><u>Leader Board</u> </h2>
<table border="1" width="60">

  <thead><h3>Running 100m</h3></thead>
  <tr><td>Name</td><td>Points</td></tr>
  <tr><td>Raj</td><td>78</td></tr>
  <tr><td>Prabu</td><td>65</td></tr>
  <tr><td>Bharath</td><td>45</td></tr>
    
</table>

<table border="1" width="60">
  <thead><h3>Relay 400m</h3></thead>
  <tr><td>Name</td><td>Points</td></tr>
  <tr><td>Chaitanya</td><td>62</td></tr>
  <tr><td>Karthick</td><td>54</td></tr>
  <tr><td>Gautham</td><td>15</td></tr>
    
</table>
