<% for attribute in @event.attributes.keys %>
  <div>
   <% if attribute.humanize == "Eventname" %>
<h4>
 <%= attribute.humanize %> : 
 <%= @event.attributes[attribute].to_s %></div>
</h4>
<% else %>
 <b><%= attribute.humanize %> : </b>
 <%= @event.attributes[attribute].to_s %></div>
<% end %>
<% end %>

